<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/freshStudentReg.css">
    <link rel="stylesheet" href="css/home.css">
    <title>login </title>
    <style>
        h1{
            text-align: center;
            text-transform: capitalize;
        }
    </style>
</head>
<body>
    <%- include('./partial/nav.ejs') %> 
    <form action="/log" method="POST">
        <div class="text">
            <h1>log in</h1>
            <div class="email">
                <label for="email">email</label>
                <input type="email" name="email" id="email">
                <span></span>
            </div>
            <div class="password">
                <label for="password">password</label>
                <input type="password" name="password" id="password">
                <span></span>
            </div>
        </div>

        <button class="register">log in</button>
    </form>
</body>
</html>