<header class="header">
    <style>
        img{
            width: 7%;
        }
        header{
            display: flex;
            align-items: center;
            
        }
        .links{
            display: flex;
            flex-basis:70% ;
        }
        a{
            text-decoration: none;
            font-size: 1.3rem;
        }
    </style>
    <div class="logo">
        <img src="img/logo.jpeg" alt="Ivei lgo">
    </div>
    <nav class="links">
        <a href="/">home</a>
        <a href="/about">about us</a>
        <a href="/admin">Admin page</a>
    </nav>
</header>